.load-wrapper {
    margin: 0 auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;

    .load-image {
        width: 48px;
        height: auto;
    }
}

.generations-list,
.type-list {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;

    button {
        padding: 8px;
        margin-right: 8px;
        box-shadow: 0 0 8px 0px #a7a7a7;
        background: #fff;
        border: 0;
        border-radius: 8px;
        text-transform: uppercase;
        cursor: pointer;

        &:hover,
        &.generationSelected,
        &.typeSelected {
            color: #fff;
            background: #a7a7a7;
        }
    }
}

.container_main {
    display: flex;
    padding: 32px 16px;

    .pokemon-list {
        display: grid;
        gap: 16px;
        width: 100%;
        transition: all 1s;
        grid-template-columns: auto auto auto auto;

        &.active {
            margin-right: 40%;
        }
    }
}