.selected-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    border: solid 1px #000;
    border-radius: 8px;
    padding: 8px;
    background: #fff;

    .item-image {
        width: auto;
        height: 50%;
    }

    .item-name {
        text-transform: capitalize;
        margin-bottom: 8px;
    }

    .pokemon_info_table {
        width: 70%;
    }
}

.pokemon-selected-list {
    display: flex;
    flex-wrap: wrap;

    .pokemon-selected-info {
        display: flex;
        min-width: 30%;
        border: 1px solid #c1c1c1;
        padding: 4px;
        font-size: 14px;
    }
}